.newTask {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(228, 228, 228, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(228, 228, 228, 1);
    box-shadow: 0px 0px 5px 1px rgba(228, 228, 228, 1);
    margin: 0 20px;
}

.newTask__form {
    margin: 20px;
}

.newTask__caption {
    padding: 20px;
    border-bottom: 1.5px solid #dadada;
    font-size: 20px;
}

.newTask__input {
    margin: 0 15px 20px 0;
    border: 1.5px solid #dadada;
    font-size: 16px;
    color: black;
    padding: 8px;
    width: 81%;
}

.newTask__button {
    background-color: #007382;
    border: #00444d;
    color: #e4fcff;
    font-size: 16px;
    padding: 10px;
}