html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
    max-width: 900px;
    margin: auto;
}

.header__title {
    padding-top: 20px;
}