.section {
    background: white;
    box-shadow: 0 0 5px #ddd;
    margin: 10px 0;
}

.section__title {
    padding: 20px;
    font-size: 20px;
    margin: 0;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    border-bottom: 1.5px solid #ddd;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }

    .section__header {
        display: flex;
        flex-direction: column;
    }
}