.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1.5px solid #ddd;
    padding: 10px;
}

.form__button {
    background: #007382;
    border: none;
    color: white;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.form__button:hover {
    background: hsl(187, 100%, 30%);
    transform: scale(1.05);
}

.form__button:active {
    border: 1.5px solid black;
    border-radius: 2px;
}