.tasks {
    padding: 20px;
    margin: 0;
}

.tasks__list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1.5px solid #ddd;
}

.tasks__item {
    word-break: break-word;
}

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__item--hide {
    display: none;
}

.tasks__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #1a7b1e;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.tasks__button:hover {
    background: hsl(122, 65%, 35%);
}

.tasks__button--remove {
    background: #ec293a;
    font-weight: 400;
}

.tasks__button--remove:hover {
    background: hsl(355, 84%, 65%);
}

.tasks__button:active {
    border: 1.5px solid black;
    border-radius: 2px;
}