.tasklistButtons {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.tasklistButtons__button {
    border: none;
    background: none;
    color: #007382;
    cursor: pointer;
    transition: 0.5s;
}

.tasklistButtons__button:hover {
    color: hsl(187, 100%, 40%);
}

.tasklistButtons__button:disabled {
    color: #b9b9b9;
    cursor: default;
}

@media (max-width: 767px) {
    .tasklistButtons {
        display: flex;
        flex-direction: column;
        padding: 0 0 20px;
    }

    .tasklistButtons__button {
        padding: 10px;
    }
}